body
{
	background-color: #0279B8;
	text-align: center;
	padding: 5%;

}
#slideshow {
  text-align: center;
  overflow: hidden;
  height: 600px;
  width: 600px;
  margin: 0 auto;
  border-radius: 20px;
}

.slide-wrapper {
  width: 2000px;
  -webkit-animation: slide 21s ease infinite;
  border-radius: 20px;
}

.slide {
  float: left;
  height: 400px;
  width: 600px;
  border-radius: 20px;
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
  border-radius: 20px;
}

@-webkit-keyframes slide {
  10% {margin-left: 0px;}
  40% {margin-left: -600px;}
  90% {margin-left: -1200px;}
}

img
{
	width: 600px;
	height: 400px;
	background-color: 476C4D;
	-webkit-filter: blur(1px); 
    filter: blur(1px); 
}
div[class="navigation"]
{
	background-color: #0F9BE5;
	width: 100%;
	height: 60px;
	font-size: 30px;
	font-family: American Typewriter,sans-serif;
	text-align: left;
	box-shadow: 0 0 20px 0 black;
	border-radius: 20px;
}
h1
{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size:large;
}
.U_id,.Email,.Password
{
	border-radius: 10px;
	background-color: #72A875;
}
input[type="submit"]
{
	border-radius: 10px;
	background-color: #72A875;
}
label
{
	font-family: cursive;
}
.login_form
{
	font-weight: bold;
}